<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594283498220-2sq35k3n4fjlbu4vuipd9j48sp9asm7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594283498220-2sq35k3n4fjlbu4vuipd9j48sp9asm7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>594283498220-2vu34cjrtupauv3ap2nadnthglb1h3b2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGX6eiGIzR_aAOwF-Lp4DDZJqbTADc5Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>594283498220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaletSpot</string>
	<key>PROJECT_ID</key>
	<string>chalet-spot</string>
	<key>STORAGE_BUCKET</key>
	<string>chalet-spot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594283498220:ios:d7c31ba4c454ead79bf3c9</string>
</dict>
</plist>